.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: solid 1px #000;
}
.body-section{
    margin: 10px;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li{
    padding: 10px;
    display: flex;
}

.restaurentlist{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card{
    width: 200px;
    padding:5px;
    border: solid 1px #000;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.shimmer-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.shimmer-card{
  width: 200px;
  padding:5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: gainsboro;
  height: 200px;
}

.card-image{
    width: 100%;
}